run = "kotlinc -d main.jar main.kt && kotlin -classpath main.jar MainKt"

entrypoint = "main.kt"

hidden=["*.jar"]
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HTML Live Editor"

[[workflows.workflow]]
name = "HTML Live Editor"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37199
externalPort = 3003

[[ports]]
localPort = 37485
externalPort = 3000

[[ports]]
localPort = 37651
externalPort = 3001
